:root {
  --color-ok: #388b66;
  --color-warning: #f98c11;
  --color-alert: #ff0000;
  --color-neutral: grey;
}

a.icon-link,
.icon-link a {
  color: black;
}

.dark a.icon-link,
.dark .icon-link a {
  color: white;
}
